table, th, td {
    border-collapse: collapse;
}

table {
    border: 1px solid gray;
    width: 500px;
}

tr {
    height: 25px;
    
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    border-bottom: 1px solid gray;
    text-align: left;
}

